# Django
media
/api/static_root

# Environments
*.env.*
*.env
env/
venv/
*.venv

# Python
__pycache__

#Vue3
node_modules/
npm-debug.log
yarn-error.log
/interface/dist

#Poetry
*.pyc
*.pyo
*.pyd
*.db
logs/




