version: "3"

services:
  api:
    platform: linux/amd64
    container_name: meuslares-api
    build:
      context: .
      dockerfile: ./api/Dockerfile
    volumes:
      - ./api/logs:/var/log
      - ./api/logs:/var/mail
    env_file: ./.env
    environment:
      - DB_PORT=${DB_PORT_DOCKER}
      - DB_HOST=${DB_HOST_DOCKER}
      - IS_DOCKER=True
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - db
      - interface
      - redis
    networks:
      - meuslares-network

  interface:
    platform: linux/amd64
    container_name: meuslares-interface
    build: 
      context: ./interface
      dockerfile: Dockerfile.prod
    env_file: ./.env

  db:
    image: postgres:15
    container_name: meuslares-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: America/Sao_Paulo
    ports:
      - "${DB_PORT}:5432"
    networks:
      - meuslares-network

  redis:
    image: "redis:latest"
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - meuslares-network
    
networks:
  meuslares-network:
    driver: bridge

volumes:
  postgres_data:
